<h1>Create a New User</h1>

<form action="/user" method="POST">
    <div>
        <label for="email">E-Mail: </label>
        <input type="text" name="email" placeholder="e-Mail" />
    </div>
    <div>
        <label for="username">Username: </label>
        <input type="text" name="username" placeholder="Username" />
    </div>
    <div>
        <label for="tagline">Tagline: </label>
        <input type="text" name="tagline" placeholder="Tagline" />
    </div>
    <div>
        <label for="userPhoto">User Photo (link/URL): </label>
        <input type="text" name="userPhoto" placeholder="User Photo Link" />
    </div>
    <button type="submit">Save New User</button>
</form>