<h1>
    <span class="red">
    {{singleUser.trainerName}}
    </span>
</h1>
<h3>
    <span class="blue">
    {{singleUser.username}}
    </span>
</h3>
<p>User Since: {{singleUser.dateCreated}}</p>
<p>Last Updated: {{singleUser.dateLastUpdated}}</p>