<h1>Create a New Monster</h1>

<form action="/user/{{userId}}/trainer/{{trainerId}}/monster" method="POST">
    <div>
        <label for="monster">Monster Species: </label>
        <input type="text" name="monster" placeholder="Monster Name" />
    </div>
    <div>
        <label for="nickname">Nickname: </label>
        <input type="text" name="nickname" placeholder="Nickname" />
    </div>
    <div>
        <label for="level">Level: </label>
        <input type="text" name="level" placeholder="Level" />
    </div>
    <div>
        <label for="sprite">Monster Sprite (link/URL): </label>
        <input type="text" name="sprite" placeholder="Monster Sprite Link" />
    </div>
    <button type="submit">Submit New Monster</button>
</form>